<!--The content below is only a placeholder and can be replaced.-->
<form name="formpaiement" Id="formpaiement" action="https://testpayment.cmi.co.ma/fim/est3Dgate" method="post">

 <input type="hidden" name="hashAlgorithm" value="ver3">
 <input type="hidden" name="encoding" value="UTF-8">
 <input type="hidden" name="TranType" value="PreAuth">
 <input type="hidden" name="currency" value="504">
 <input type="hidden" name="amount" value="1">
 <input type="hidden" name="CallbackResponse" value="true">
 <input type="hidden" name="BillToCountry" value="MA">
 <input type="hidden" name="storetype" value="3D_PAY_HOSTING">
 <input type="hidden" name="failUrl" value="https://testpayment.cmi.co.ma/fim/est3dteststoreutf8?pagelang=en">
 <input type="hidden" name="callbackUrl" value="https://en9secmjqxodwew.m.pipedream.net">
 <input type="hidden" name="clientid" value="600002246">
 <input type="hidden" name="okUrl" value="http://cmiecom.dx.am/ok.php">
 <input type="hidden" name="lang" value="en">

 <input type="hidden" name="MERCHANTSAFE" value="MERCHANTSAFE" />
 Token : <input type="Text" name="MERCHANTSAFEKEY" value="ABC123">
 <input type="hidden" name="MERCHANTSAFEAUTHTYPE" value="3DPAYAUTH">
 <input type="hidden" name="MERCHANTSAFEACQUIRER" value="60">
 <input type="hidden" name="MERCHANTGROUPID" value="60029">
 <input type="hidden" name="hash" [value]="hashCMI">


 </form>

<input type="submit" value="valider" onclick="document.formpaiement.submit()">


<router-outlet></router-outlet>
